//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@font-face {
  font-family: 'jostregular';
  src: url('../fonts/jost-variablefont_italwght-webfont.woff2') format('woff2'),
    url('../fonts/jost-variablefont_italwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherregular';
  src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
    url('../fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$helvetica: jostregular, Arial, sans-serif;
$helveticaNeue: 'jostregular', Helvetica, Arial, sans-serif;
$georgia: 'merriweatherregular', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
